<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SuperMarketÖdev.Properties.Settings.Market_OtomasyonuConnectionString"
            connectionString="Data Source=MSIBRAVO\SQLEXPRESS01;Initial Catalog=Market_Otomasyonu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>